
.contenaire{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;

}

.formulaire{
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(O,O,O,O.1);
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    padding: 30px;
    height: 300px;

}

input{
    height: 30px;
    width: 100%;

}

.btn-formulaire{
    background-color: greenyellow;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    align-self: center;
    padding: 10px;
   margin: 20px;
}

.btn{
    background-color: rgb(47, 186, 255);
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    align-self: center;
    padding: 10px;
   margin: 20px;
   color: aliceblue;
}

.btn:hover {
  background: #2ed9c8;
}